$family-sans-serif: 'IBM Plex Sans', v-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,'Droid Sans','Helvetica Neue',sans-serif;
$blue: #1b6de0;
$green: #079954;
$red: #e54937;
$orange: #db7c00;
$body-background-color: #f6f6f6;
$footer-background-color: #f6f6f6;
